
/**
 * Account Chooser CSS
 * Site: www.accountchooser.com
 * Version: 1.0
 * Date: 2012-06-11
 */

/**
 * Reset HTML elements to ensure accurate rendering when embedded into sites
 */
body {
  font: 400 87% Helvetica, Arial, san-serif;
  color: #333;
  background: #ccc;
}

h1, h2, h3 {
  font-weight: 400;
}

h2, h3, h4, h5 {
  margin: 0 0 0.5em;
}

h1 {
  font-size: 1.8em;
  color: #000;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.7em;
  color: #e36c04;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  color: #5e5c56;
}

h4 {
  text-transform: uppercase;
  color: #333;
}

p {
  line-height: 1.6em;
  margin: 0 0 1.2em;
}

strong {
  font-weight: 700
}

a, a:link {
  color: #0e7787;
}

a:visited {
  color: #720e87;
}

a:hover {
  color: #ee8022;
}

#container {
  max-width:1024px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 1em #000;
  position: relative
}

.clearfix {
  overflow: hidden
}

#header {
  background: #ddd;
  background: -moz-linear-gradient(top, #f5f5f5 20%, #ccc 100%);
  background: -webkit-linear-gradient(top, #f5f5f5 20%, #ccc 100%);
  background: linear-gradient(top, #f5f5f5 20%, #ccc 100%);
  border-bottom: 1px solid #999;
  padding: 1em 1.5em;
}

#acpagecontent {
  padding: 2em;
}


#accountchooser {
  float: left;
  width: 300px;
}

.rtl #accountchooser {
  float: right;
}

.secondary {
  margin-left: 340px;
}

.rtl .secondary {
  margin-left: 0;
  margin-right: 340px;
}

.secondary h1 {
  color: #e36c04;
}

#footer {
  display:block;
  clear:both;
  padding: 1em 2em;
  color:#ddd;
  background:#454545;
  background:-moz-linear-gradient(top, #333 0%, #5e5c56 20%);
  background:-webkit-linear-gradient(top, #333 0%, #5e5c56 20%);
  background:linear-gradient(top, #333 0%, #5e5c56 20%);
}
#footer a, #footer a:link, #footer a:visited {
  color: #fff
}

#footer .footer-text {
  list-style: none;
  padding: 0;
}

#footer .footer-text li {
  display: inline-block;
  font-size: .9em;
  margin-right: 1em;
}

.rtl #footer .footer-text li {
  margin-right: 0;
  margin-left: 1em;
}

#footer .language-changer {
  float: right;
}

.rtl #footer .language-changer {
  float: left;
}

.learnmore h1 {
  color: #e36c04;
  margin-bottom: .5em;
}

.learnmore h2 {
  color: #333;
  font-size: 1.5em;
}
.learnmore p {
  max-width: 700px;
}

.learnmore .add-account-benefits ol.benefit-list > li > p,
.learnmore .add-account-benefits ol.benefit-list > li > img,
.learnmore .add-account-benefits .benefit-list .widget-sample-chooser {
  margin-left: 36px;
}

.rtl .learnmore .add-account-benefits ol.benefit-list > li > p,
.rtl .learnmore .add-account-benefits ol.benefit-list > li > img,
.rtl .learnmore .add-account-benefits .benefit-list .widget-sample-chooser {
  margin-left: 0;
  margin-right: 36px;
}

.learnmore .add-account-benefits ol.benefit-list > li > p {
  margin-top: -24px;
}

.learnmore ol.benefit-list {
  counter-reset: item;
  list-style: none;
  padding: 0;
}

.learnmore ol.benefit-list > li {
  counter-increment: item;
  margin-bottom: 2em;
}

.learnmore ol.benefit-list > li:before {
  content: counter(item);
  padding: 4px 8px;
  background: #aaa;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}


@media screen and (max-width: 700px) {
  #container {
    width: 315px;
  }

  #acpagecontent {
    padding: .5em;
  }

  .secondary {
    display: none;
  }
}

.widget-panel-chooser p,
.widget-panel-chooser h1,
.widget-panel-chooser h2,
.widget-panel-chooser ul,
.widget-panel-chooser ol,
.widget-panel-chooser li,
.widget-panel-chooser div,
.widget-panel-chooser form,
.widget-panel-chooser input,
.widget-panel-chooser label,
.widget-panel-chooser span,
.widget-panel-chooser strong,
.widget-panel-chooser a,
.widget-panel-chooser img {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.widget-panel-chooser p,
.widget-panel-chooser li {
  line-height: 18px;
}

.widget-panel-chooser img {
  border: 0;
}

.widget-panel-chooser a {
  color: #1979c4;
  text-decoration: none;
  font-weight: normal;
  font-variant: normal;
  cursor: pointer;
}

.widget-panel-chooser a:hover {
  color: #3096e6;
  text-decoration: underline;
}

.widget-panel-chooser {
  font: 13px "Helvetica Neue", helvetica, arial, sans-serif;
  overflow: hidden;
  color: #333;
  /*position: absolute;*/
  z-index: 100;
  background: #f6f6f6;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  /*width: 300px;
  text-align: left;*/
}

/**
 * Elements
 *
 */

.widget-panel-chooser .widget-header {
  position: relative;
  width: 100%;
  background: #ccc;
  height: 56px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 20px;
}

.widget-panel-chooser .widget-header h1 {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}

.widget-panel-chooser .widget-header h2 {
  color: #e36c04;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}

.widget-panel-chooser .widget-main {
  margin: 20px 22px;
}

.widget-panel-chooser .widget-main .widget-error {
  margin: -20px -30px 15px;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
  background: #f1f1f1;
  color: #bd3224;
}

.widget-panel-chooser .widget-main h2 {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 20px;
  font-weight: 300;
  color: #555;
}

.widget-panel-chooser .widget-footer {
  clear: both;
  color: #999;
  margin: 20px 22px;
  line-height: 18px;
}

.widget-panel-chooser .widget-footer a {
  line-height: 18px;
}

/**
 * Account Selection
 *
 */
.widget-panel-chooser .widget-accounts li a {
  color: #333;
}

.widget-panel-chooser .widget-accounts ol {
  list-style: none;
  margin: 0;
}

.widget-panel-chooser .widget-accounts li {
  position: relative;
  height: 62px;
  background: #fff;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.widget-panel-chooser .widget-accounts li.widget-selectable-account {
  cursor: pointer;
}

.widget-panel-chooser .widget-accounts li:first-of-type {
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

.widget-panel-chooser .widget-accounts li:last-of-type {
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 1px solid #dcdcdc;
}

.widget-panel-chooser .widget-accounts li:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.widget-panel-chooser .widget-accounts li p {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  line-height: 0;
  white-space: nowrap;
  margin: 0;
  height: 100%;
  width: 90%;
}

.widget-panel-chooser .widget-accounts li .widget-account-name {
  display: block;
  margin: 16px 0 0 65px;
}

.rtl .widget-panel-chooser .widget-accounts li .widget-account-name {
  margin: 16px 65px 0 0;
}

.widget-panel-chooser .widget-accounts li .widget-account-email {
  display: block;
  margin: 16px 100px 0 65px;
  color: #666;
}

.rtl .widget-panel-chooser .widget-accounts li .widget-account-email {
  margin: 16px 65px 0 100px;
}

.widget-panel-chooser .widget-accounts li .widget-account-email img {
  height: 16px;
  margin: -6px 5px 0 0;
  vertical-align: middle;
}

.rtl .widget-panel-chooser .widget-accounts li .widget-account-email img {
  margin: -6px 0 0 5px;
}

.widget-panel-chooser .widget-accounts li .widget-account-idp {
  display: block;
  margin: 16px 100px 0 65px;
  color: #666;
}

.rtl .widget-panel-chooser .widget-accounts li .widget-account-idp {
  margin: 16px 65px 0 100px;
}

.widget-panel-chooser .widget-accounts li .widget-email-only .widget-account-email {
  margin-top: 28px;
  font-weight: bold;
  color: #222;
}

.widget-panel-chooser .widget-accounts li .widget-account-photo {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 42px;
  width: 42px;
  border: 1px solid rgba(0,0,0,0.1);
}

.rtl .widget-panel-chooser .widget-accounts li .widget-account-photo {
  left: auto;
  right: 8px;
}

.widget-panel-chooser .widget-accounts li .widget-account-select {
  display: inline-block;
  cursor: pointer;
  z-index: 12;
  position: absolute;
  top: 20px;
  right: 1px;
  text-indent: -999999em;
  height: 30px;
  width: 28px;
  pointer-events: none;
  background: url(../image/account-select.png) top left no-repeat;
}

.rtl .widget-panel-chooser .widget-accounts li .widget-account-select {
  right: auto;
  left: 1px;
  background: url(../image/account-select-rtl.png) top right no-repeat;
}

/**
 *
 *  Manage account styles
 *
 */
.widget-panel-chooser .widget-header.widget-header-with-sub {
  padding: 6px 20px;
}

.widget-panel-chooser li .widget-account-remove {
  display: inline-block;
  cursor: pointer;
  z-index: 12;
  position: absolute;
  top: 20px;
  right: 1px;
  text-indent: -999999em;
  height: 30px;
  width: 28px;
  pointer-events: none;
  background: url(../image/account-remove.png) top left no-repeat;
}

.rtl .widget-panel-chooser li .widget-account-remove {
  right: auto;
  left: 1px;
}


/**
 *
 *  share/update account styles
 *
 */
.widget-panel-chooser a.widget-button-skip {
  margin-left: 10px;
  display: inline-block;
  line-height: 32px;
}

.rtl .widget-panel-chooser a.widget-button-skip {
  margin-left: 0;
  margin-right: 10px;
}

/**
 * Standard sign in keyhole button
 *
 */
.widget-panel-chooser .widget-keyhole-button {
  font: 13px "Helvetica Neue", helvetica, arial, sans-serif !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #f5f5f5 !important;
  font-weight: bold !important;
  line-height: 32px !important;
  display: inline-block;
  min-width: 54px;
  height: 32px;
  padding: 0 12px !important;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #707070;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#707070),to(#555));
  background-image: -webkit-linear-gradient(top,#707070,#555);
  background-image: -moz-linear-gradient(top,#707070,#555);
  background-image: -ms-linear-gradient(top,#707070,#555);
  background-image: -o-linear-gradient(top,#707070,#555);
  background-image: linear-gradient(top,#707070,#555);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

*+html .widget-panel-chooser .widget-keyhole-button {
  min-width: 70px;
}

@media \0screen {
  .widget-panel-chooser .widget-keyhole-button {
    min-width: 70px;
  }
}

.widget-panel-chooser button.widget-keyhole-button,
.widget-panel-chooser input[type=submit].widget-keyhole-button {
  height: 34px;
  line-height: 34px;
  vertical-align: bottom;
  margin: 0;
}

*+html .widget-panel-chooser button.widget-keyhole-button,
*+html .widget-panel-chooser input[type=submit].widget-keyhole-button {
  overflow: visible;
}

@media \0screen {
  .widget-panel-chooser button.widget-keyhole-button,
  .widget-panel-chooser input[type=submit].widget-keyhole-button {
    overflow: visible;
  }
}

.widget-panel-chooser .widget-keyhole-button:hover {
  color: #fff !important;
  background-color: #6f6f6f;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#6f6f6f),to(#444));
  background-image: -webkit-linear-gradient(top,#6f6f6f,#444);
  background-image: -moz-linear-gradient(top,#6f6f6f,#444);
  background-image: -ms-linear-gradient(top,#6f6f6f,#444);
  background-image: -o-linear-gradient(top,#6f6f6f,#444);
  background-image: linear-gradient(top,#6f6f6f,#444);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.widget-panel-chooser .widget-keyhole-button:active {
  background-color: #5c5c5c;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5c5c5c),to(#333));
  background-image: -webkit-linear-gradient(top,#5c5c5c,#333);
  background-image: -moz-linear-gradient(top,#5c5c5c,#333);
  background-image: -ms-linear-gradient(top,#5c5c5c,#333);
  background-image: -o-linear-gradient(top,#5c5c5c,#333);
  background-image: linear-gradient(top,#5c5c5c,#333);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.widget-panel-chooser .widget-keyhole-button:visited {
  color: #fff !important;
}

.widget-panel-chooser .widget-keyhole-button span {
  line-height: 32px;
  margin: 0 10px 0 5px;
}

.rtl .widget-panel-chooser .widget-keyhole-button span {
  margin: 0 5px 0 10px;
}

.widget-panel-chooser .widget-keyhole-button img {
  display: inline-block;
  border: 0 !important;
  margin: -4px 0 0 -3px !important;
  opacity: .9;
  vertical-align: middle;
  height: 25px;
}
.widget-panel-chooser .widget-keyhole-button img.widget-navbar-arrow {
  height: 4px;
}

*+html .widget-panel-chooser .widget-keyhole-button img {
  margin: 0 0 0 -3px !important;
}

@media \0screen {
  .widget-panel-chooser .widget-keyhole-button img {
    margin: 0 0 0 -3px !important;
  }
}

.widget-panel-chooser .widget-keyhole-button:hover img {
  opacity: .9;
}

.widget-panel-chooser .widget-keyhole-button:active img {
  opacity: 1;
}

/**
 * Sample Account Selection widget
 *
 */

.widget-sample-chooser p,
.widget-sample-chooser h1,
.widget-sample-chooser h2,
.widget-sample-chooser ul,
.widget-sample-chooser ol,
.widget-sample-chooser li,
.widget-sample-chooser div,
.widget-sample-chooser span,
.widget-sample-chooser strong,
.widget-sample-chooser img {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.widget-sample-chooser p,
.widget-sample-chooser li {
  line-height: 14px;
}

.widget-sample-chooser img {
  border: 0;
}

.widget-sample-chooser {
  font: 10px "Helvetica Neue", helvetica, arial, sans-serif;
  overflow: hidden;
  color: #333;
  width: 215px;
  z-index: 100;
  background: #f6f6f6;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 1em;
}

.widget-sample-chooser .widget-header {
  position: relative;
  width: 100%;
  height: 43px;
  background: #ccc;
  border-bottom: 1px solid rgba(0,0,0,.05);
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 8px;
}

.widget-sample-chooser .widget-header h1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #555;
}

.widget-sample-chooser .widget-header h2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #e36c04;
}

.widget-sample-chooser .widget-main {
  margin: 7px 8px;
}

.widget-sample-chooser .widget-main h2 {
  font-size: 14px;
  line-height: 1;
  margin: 0 0 15px;
  font-weight: 300;
}

.widget-sample-chooser .widget-footer {
  clear: both;
  color: #999;
  margin: 7px 8px;
  line-height: 18px;
}

.widget-sample-chooser .widget-accounts li a {
  color: #333;
}

.widget-sample-chooser .widget-accounts ol {
  list-style: none;
  margin: 0;
}

.widget-sample-chooser .widget-accounts li {
  position: relative;
  height: 48px;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.widget-sample-chooser .widget-accounts li:first-of-type {
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

.widget-sample-chooser .widget-accounts li:last-of-type {
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 1px solid #dcdcdc;
}

.widget-sample-chooser .widget-accounts li:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.widget-sample-chooser .widget-accounts li p {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  line-height: 0;
  white-space: nowrap;
  margin: 0;
  height: 100%;
  width: 90%;
}

.widget-sample-chooser .widget-accounts li .widget-account-name {
  display: block;
  margin: 12px 0 0 50px;
}

.rtl .widget-sample-chooser .widget-accounts li .widget-account-name {
  margin: 12px 50px 0 0;
}

.widget-sample-chooser .widget-accounts li .widget-account-email {
  display: block;
  margin: 12px 77px 0 50px;
  color: #666;
}

.rtl .widget-sample-chooser .widget-accounts li .widget-account-email {
  margin: 12px 50px 0 77px;
}

.widget-sample-chooser .widget-accounts li .widget-account-email img {
  height: 12px;
  margin: -5px 4px 0 0;
  vertical-align: middle;
}

.rtl .widget-sample-chooser .widget-accounts li .widget-account-email img {
  margin: -5px 0 0 4px;
}

.widget-sample-chooser .widget-accounts li .widget-email-only .widget-account-email {
  margin-top: 22px;
  font-weight: bold;
  color: #222;
}

.widget-sample-chooser .widget-accounts li .widget-account-idp {
  display: block;
  margin: 12px 77px 0 50px;
  color: #666;
}

.rtl .widget-sample-chooser .widget-accounts li .widget-account-idp {
  margin: 12px 50px 0 77px;
}

.widget-sample-chooser .widget-accounts li .widget-account-photo {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 32px;
  width: 32px;
  border: 1px solid rgba(0,0,0,0.1);
}

.rtl .widget-sample-chooser .widget-accounts li .widget-account-photo {
  left: auto;
  right: 6px;
}

.widget-sample-chooser .widget-accounts li .widget-account-select {
  display: inline-block;
  cursor: pointer;
  z-index: 12;
  position: absolute;
  top: 16px;
  right: 1px;
  text-indent: -999999em;
  height: 23px;
  width: 22px;
  pointer-events: none;
  background: url(../image/account-select.png) top left no-repeat;
  background-size: 16px 16px;
}

.rtl .widget-sample-chooser .widget-accounts li .widget-account-select {
  right: auto;
  left: 1px;
  background: url(../image/account-select-rtl.png) top right no-repeat;
}

.widget-sample-chooser .widget-footer a {
  color: #1979c4;
  text-decoration: none;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  margin-right: 8px;
  line-height: 25px;
}
