/* Common styles from accountchooser.net */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
* {  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) }

body {font:400 87% "Droid Sans", Helvetica, Arial, san-serif; color:#333;
background:#ccc;
background: -moz-linear-gradient(top, #ccc 0, #fff 30%, #ccc 80%); 
background: -webkit-linear-gradient(top, #ccc 0, #fff 30%, #ccc 80%); 
background: linear-gradient(top, #ccc 0, #fff 30%, #ccc 80%); 
}

h2, h3, h4, h5 {margin:0 0 0.5em}
h1, h2, h3 {font-weight:400; font-family:"Boogaloo"}
h1 {font-size:1.8em; color:#000; margin-bottom:0.3em; border-bottom:1px solid #ccc}
h2 {font-size:1.7em; color:#e36c04; font-weight:500}
h3 {font-size:1.6em; color:#5e5c56}
h4 {text-transform:uppercase; color:#333}
p, .more-link {line-height:1.6em; margin:0 0 1.2em; }
bold, strong {font-weight:700}
a, a:link {color:#0e7787}
a:visited {color:#720e87}
a:hover {color:#ee8022}
li {font-size:inherit}
strong, b, bold, dt {font-weight:700}

img {max-width:100%; margin:0}
.intro {font-size:1.3em; font-style:italic; line-height:1.6em; margin:0 0 0.5em; padding:0.5em 0; border-bottom:1px dashed #419fb3; border-top:1px dashed #419fb3}
.button, a.button:link, a.button:visited, .more-link a, .more-link a:visited {display:block; border-radius:0.4em; text-align:center; text-decoration:none; padding:0.5em 0; 
color:#fff;
text-shadow:0 -1px rgba(0,0,0,0.4);
background:#ee8022;
background: -moz-linear-gradient(top, #ee8022 0%, #e36c04 100%);
background: -webkit-linear-gradient(top, #ee8022 0%, #e36c04 100%);
background: linear-gradient(top, #ee8022 0%, #e36c04 100%);

border-top:1px solid rgba(255,225,255,0.8);
border-bottom:1px solid rgba(0,0,0,0.4);
box-shadow:0 0 8px #ccc, inset 0 0 8px rgba(0,0,0,0.4);
}
a.button:hover, a.button:active, a.button:focus, .more-link a:hover, .more-link a:active, .more-link a:focus {color:#fff; background:#419fb3;  box-shadow:inset 0 0 8px #0e7787;}
.caption, figcaption {font-size:0.9em; line-height:1.2em; width:95%; color:#666}


#container {max-width:1024px; margin:0 auto;  background:#fff; box-shadow:0 0 1em #000; position:relative}
#utilities {position:absolute; left:0; bottom:0;  padding:0 3.125% 1em; text-align:right;  color:#ddd}
#utilities a {text-decoration:none; color:#fff}
#utilities  ul {margin:0; padding:0; list-style:none; display:block; height:1.5em}
#utilities  li {float:right; margin:0; padding:0 0.5em; display:block; border-right:1px solid #ddd; font-size:0.9em; }
#utilities  li.first {border:0}
#utilities  li.last {padding-left:0}


#header { padding:1em 0; border-top:1px solid #fff; border-bottom:1px solid #999}
#header, #threesteps li  {
  background:#ddd;
  background:-moz-linear-gradient(top, #f5f5f5 20%, #ccc 100%); 
  background:-webkit-linear-gradient(top, #f5f5f5 20%, #ccc 100%);
  background:linear-gradient(top, #f5f5f5 20%, #ccc 100%);
}

#header h1 {margin:0 auto; border:0; display:block;}
#header h1 img {display:block; margin:0 auto; }

#header {padding:1.8em 3.125%; position:relative}
#header h1 { border:0; display:block; margin:0 auto; max-width:300px}
#header h1 a {background:url(/sites/all/themes/ac/images/header/ac-mobile-300.png) 0 0 no-repeat; background-size:100% auto; display:block; width:100%; height:60px; overflow:hidden; text-indent:-9999px; margin:0}
#header p {display:none}


#leftcolumn, #centercolumn, #block-twitter-feed {display:block; clear:both; margin:0; padding:0}
#messages {padding:0.3em 3.125%}
#pagecontent {padding:0.3em 3.125% 1em;}
#rightcolumn {padding:0.3em 3.125% 1em;}
h1.pagetitle {margin:0 ; background:#5e5c56; color:white; padding:0.5em 3.125%}
#footer {display:block; clear:both; padding:1em 3.125% 2em;  color:#ddd;
  background:#454545;
  background:-moz-linear-gradient(top, #333 0%, #5e5c56 20%);
  background:-webkit-linear-gradient(top, #333 0%, #5e5c56 20%);
  background:linear-gradient(top, #333 0%, #5e5c56 20%);
}
#footer p {font-size:0.9em}
#footer p a, #footer p a:link, #footer p a:visited {color:#fff}
#pagecontent td {padding:0.2em}

figure {border-radius:0.6em; padding:1em  0 }
figcaption {font-size:0.8em; display:block; padding:0 1em}
figure image, figure a {margin:1em 1em 0 1em; display:block;}
figure a {margin-bottom:1em}

#block-menu-what-interests-you h3  {color:#fff; border:0; padding: 0.5em ;  margin:0; 
background:#ee8022;
background: -moz-linear-gradient(top, #ee8022 0%, #c05100 100%); 
background: -webkit-linear-gradient(top, #ee8022 0%, #c05100 100%); 
background: linear-gradient(top, #ee8022 0%, #c05100 100%); 
}

#block-menu-what-interests-you ul.menu, #block-menu-what-interests-you ul.menu li {list-style-type:none;}

#block-menu-what-interests-you ul {list-style:none; margin:0; padding:0;}
#block-menu-what-interests-you li {display:block; clear:left; font-size:0.9em;   line-height:1.2em;  margin:0; padding:0}
#block-menu-what-interests-you li strong {display:block; font-size:2em; margin-bottom:0.3em}
#block-menu-what-interests-you li a {display:block; color:#333; text-decoration:none; overflow:hidden; border-bottom:1px solid #999; border-top:1px solid #fff; padding:1em 0.5em 1em 75px;  -webkit-box-shadow:inset 0 0 8px #ccc;  -moz-box-shadow:inset 0 0 8px #ccc;  box-shadow:inset 0 0 8px #ccc; background-color:#fff; background-position:5px 50%; background-repeat:no-repeat;  background-size:60px auto }
#block-menu-what-interests-you li a.users {background-image:url(/sites/all/themes/ac/images/sketches/user.png)}
#block-menu-what-interests-you li a.website-owners {background-image:url(/sites/all/themes/ac/images/sketches/owner.png)}
#block-menu-what-interests-you li a.techies {background-image:url(/sites/all/themes/ac/images/sketches/techie.png) }
#block-menu-what-interests-you li a.press {background-image:url(/sites/all/themes/ac/images/sketches/press.png)}
#block-menu-what-interests-you li a:hover, #block-menu-what-interests-you li a.active, #block-menu-what-interests-you li a.active-trail {background-color:#419fb3;  box-shadow:inset 0 0 8px #0e7787; color:#fff; border-bottom:1px solid #999; border-top:1px solid #000;}
#block-menu-what-interests-you li  ul {display:none}
#centercolumn ul, #centercolumn ol {margin:0 0 1em 2em}
#centercolumn ol li {font-weight:700; font-size:1.2em}
#centercolumn ol li li {font-weight:400; font-size:0.8em; list-style:disc}
#centercolumn ol ul {margin-left:1em}

/* Columnal Overrides */
p + p, p + ul {margin-top:0}
.admin-menu-icon a img {display:inline}

/* Blocks */
#rightcolumn .cloudfour_block {background:#fff; border-radius:0.5em; box-shadow:0 0 8px #ccc; margin:0 0 1em}
#rightcolumn .cloudfour_block h3 {background:#5e5c56; color:white;  border-radius:0.3em 0.3em 0 0; padding:0.3em 0.6em; margin:0}
#rightcolumn .cloudfour_block .content {padding:0.3em 0.8em}
#rightcolumn #block-social.cloudfour_block {border-radius:0; box-shadow:none}

/* Home page */
.front .pagetitle {display:none}

#block-social {display:block; margin:1em 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:0.5em 0; text-align:center; line-height:1em}
#block-social img {display:inline-block; width:30px;}
#block-social p {margin:0}
#block-social a {display:inline-block; width:30px; margin:0 20px}
#block-views-news-block h3 {font-size:2em}
.views-field-title {font-weight:700; font-size:1.2em; display:block; }
.views-field-title a {text-decoration:none;}
.views-field-field-news-summary-value {margin:0 0 0.7em; clear:both; padding:0 0 0.7em 0; border-bottom:1px dashed #E36C04;  position:relative; line-height:1.6em; color:#666}
.views-row-last .views-field-field-news-summary-value {border:0}
.views-field-created {color:#666; font-style:italic; }
.views-field-field-news-source-value {display:block; color:#000; text-transform:uppercase; font-size:0.9em}

#twtr-widget-1 .twtr-hd {display:none}
#block-twitter-feed #twtr-widget-1 .twtr-doc {background-color:transparent !important}
#block-twitter-feed .twtr-widget .twtr-tweet-wrap {padding:0.5em 0}
.twtr-ft a img {display:none}

/* Sub page styles */
 ul#logos, ul#service-providers, #news ul, #centercolumn ul#service-providers {list-style:none; margin:0}
 ul#logos li {float:left; display:block; padding:0; margin:0}

ul#service-providers li,  ul#logos li {float:left; width:120px; font-size:0.8em; margin:0 13px 1em 0; text-align:center}
ul#service-providers li img {margin:0 0 0.5em; border-bottom:1px dashed #ccc}
ul#service-providers a,  ul#logos a {text-decoration:none;}
.touts, #news {background:#e5e5e5; margin-bottom:1em; display:block; border-radius:0.6em; padding:0.5em 1em; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}  
.touts h3, #news h2 {color:#000; border:None}
#getstarted, #block-updates {display:block; clear:both}

#threesteps, #centercolumn ul#threesteps  {
margin: 0 0 1em 0; overflow:hidden; list-style:none; padding:8px;
font-weight:700;  
}
#threesteps li, .expand {font-size:1em; display:block; padding:1em; margin:0 0 1em; border-radius:0.4em;  box-shadow:0 0 8px #999; border:1px solid #fff; line-height:1.4em; text-shadow:0 1px #fff}
#threesteps li:last-of-type {margin-right:0}

.expand  {
  background:#ddd;
  background:-moz-linear-gradient(top, #f5f5f5 20%, #d5d5d5 100%); 
  background:-webkit-linear-gradient(top, #f5f5f5 20%, #d5d5d5 100%);
  background:linear-gradient(top, #f5f5f5 20%, #d5d5d5 100%);
}
.expand h4 {margin:0; font-size:1em; font-weight:400}
.expand h3 {color:#419FB3;  font-size:1.8em}

.expand dt {cursor:pointer;  background:url(/sites/all/themes/ac/images/down-orange.png) right 0.3em no-repeat; padding-right:30px; font-weight:400; color:#000; font-size:1.1em}
.expand dt.expanded {background-image:url(/sites/all/themes/ac/images/up-orange.png)}
.expand dd {margin:0.5em 30px 0 0; padding-top:0.5em; border-top:1px dashed #E36C04; color:#666; font-size:1em}

.left, .right {display:block; text-align:center; margin:0.5em auto; padding:0.5em 0; border-bottom:1px solid #ccc}
#acex iframe {overflow:hidden;  border-radius:0.5em; width:300px; height:280px; display:block; margin:0 auto 1em}

@media all and (-webkit-min-device-pixel-ratio: 2) {
#header h1 a {background-image:url(/sites/all/themes/ac/images/header/ac-600.png)}
#block-menu-what-interests-you li a.users {background-image:url(/sites/all/themes/ac/images/sketches/user-200.png)}
#block-menu-what-interests-you li a.website-owners {background-image:url(/sites/all/themes/ac/images/sketches/owner-200.png)}
#block-menu-what-interests-you li a.techies {background-image:url(/sites/all/themes/ac/images/sketches/techie-200.png) }
#block-menu-what-interests-you li a.press {background-image:url(/sites/all/themes/ac/images/sketches/press-200.png)}

}

/* JS-based show/hide navigation */
@media all and (min-width: 1em) and (max-width: 41em){
#block-menu-what-interests-you {position:relative; padding:0.5em;}
#block-menu-what-interests-you h3  {-webkit-border-radius:0.6em; -moz-border-radius:0.6em; border-radius:0.6em; text-align:center; cursor:pointer}
#block-menu-what-interests-you h3.open {webkit-border-radius:0.6em 0.6em 0 0; -moz-border-radius:0.6em 0.6em 0 0; border-radius:0.6em 0.6em 0 0}
#block-menu-what-interests-you .content {display:none; position:absolute; top:3.8em; left:0; z-index:1000; padding:0; width:100%}
#block-menu-what-interests-you .content.show {display:block}
#block-menu-what-interests-you ul {margin:0 0.5em}
#block-menu-what-interests-you li:last-of-type a {webkit-border-radius:0 0 0.6em 0.6em; -moz-border-radius:0 0 0.6em 0.6em; border-radius:0 0 0.6em 0.6em}

}

@media all and (min-width: 37em) {
#header {padding:1.8em 3.125%; position:relative}
#header h1 { margin:0 0 0 48px; border:0; background:url(../image/h1bg.png) 0 42px repeat-x transparent; width:auto; max-width:100%}
#header h1 a {background:url(/sites/all/themes/ac/images/header/ac-300.png) 0 0 no-repeat; display:block; width:300px; height:60px; overflow:hidden; text-indent:-9999px; margin:0 0 0 -48px}
#header p {position:absolute; display:block; right:3.125%; top:44px; margin:0; font-size:0.9em; font-style:italic}
#acex {width:500px; height:444px; background:url(/sites/all/themes/ac/images/sketches/easier-for-you-iframe.png) 0 0 no-repeat}
#acex .content {padding:70px 0 0 105px}
#acex iframe {overflow:hidden;  border-radius:0.5em; width:300px; height:280px; display:block; mardisplay:block}
#acex {-moz-transform :scale(0.5); -webkit-transform :scale(0.5); -ms-transform :scale(0.5); transform :scale(0.5); margin:-80px -140px -80px -110px; float:right}

}


/* Desktop */
@media all and (min-width: 60em) {
#header { border-bottom:5px solid #ee8022;}

#leftcolumn  {width:25%; margin-left:3.125%}
#centercolumn {width:71.875%}
h1 {font-size:2.8em; color:#e36c04;  }
h1.pagetitle { padding:0.6em 3.125% 0.12em; font-size:2.8em}
#pagecontent, #centercolumn > .help { margin:0  6.25% 2em 3.125%; padding:1em 0 0 0}
#pagecontent.wrc { float:left; width:56.875%; margin:0 0 2em 3.125%}
#pagecontent .button {width:60%; margin:0 auto}
#pagecontent.wrc .button {width:auto}
#rightcolumn  {float:right; width:32.875%; margin:0 3.125% 1em 0; clear:none; padding:0 }
#rightcolumn #block-social.cloudfour_block {text-align:right; padding:0; border:0; margin:0 0 1em; }
#rightcolumn #block-social.cloudfour_block div.content {padding:0}

#block-social a {display:inline-block; margin:0 0 0 10px}
#block-social img {width:25px; margin:0}
#threesteps li {min-height:9em}
}

/* Specific for learn more page */
div .ac {
  display: block;
  margin: 0 auto 1em;
}

#container #pagecontent ul {
  list-style-type: disc;
}

#acpagecontent {
  padding: 1em 3.125%;
}

@media all and (min-width: 41em) {
  .mainleft {
    float: left;
    clear: left;
    width:60%;
  }
  .colright {
    float: right;
    width:35%;
  }
}

.widget-panel-chooser h1 {
  border: 0;
  box-sizing:content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  color: #333;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
}
